{
    "semi": true,
    "tabWidth": 2,
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "overrides": [
        {
            "files": "*.scss",
            "options": {
                "parser": "scss",
                "singleQuote": true,
                "tabWidth": 2,
                "printWidth": 100
            }
        }
    ]
}