@use "./utils/variables";
@use "./utils/base";
@use "./utils/grid";
@use "./utils/flex";
@use "./utils/stats";
@use "./utils/text";
@use "./utils/spacing";
@use "./utils/router";
@use "./utils/position";
@use "./auth";

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

:root {
    --background-color: #ebecd6;
    --foreground-color: #0a100d;
    --accent-light-color: #7ba9f4;
    --accent-color: #3066be;
    --accent-dark-color: #0e4193;
    --transition-duration: 0.3s;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #0a100d;
        --foreground-color: #ebecd6;
        --accent-light-color: #7ba9f4;
        --accent-color: #3066be;
        --accent-dark-color: #0e4193;
    }
}

.navbarLink {
    text-align: right;
    align-self: center;
}