@use './utils/variables';
@use './utils/base';
@use './utils/grid';
@use './utils/flex';
@use './utils/stats';
@use './utils/text';
@use './utils/spacing';
@use './utils/router';

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

:root {
    --background-color: #f8f8f8;
    --foreground-color: #171717;
    --transition-duration: 0.3s;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #171717;
        --foreground-color: #f8f8f8;
    }
}

.navbarLink {
    text-align: right;
    align-self: center;
    font-style: italic;

    &::before {
        content: '↦';
        position: relative;
        display: flex;
        width: 0;
        height: 0;
        right: 2.2rem;
        top: 0;
        opacity: 0;
        transform: translateX(calc(-100% - 1rem));
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        &::before {
            opacity: 1;
            transform: translateX(calc(-100%));
        }
    }
}