@use './utils/variables';
@use './utils/base';
@use './utils/grid';
@use './utils/stats';
@use './utils/text';
@use './utils/spacing';
@use './utils/router';

.navbarLink {
    text-align: right;
    align-self: center;
}

:root {
    --background-color: #f8f8f8;
    --foreground-color: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #171717;
        --foreground-color: #f8f8f8;
    }
}