@use './utils/variables';
@use './utils/base';
@use './utils/grid';
@use './utils/stats';
@use './utils/text';
@use './utils/spacing';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}