@use 'variables' as *;

// Reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Base styles
html {
  font-size: $font-size-base;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: $font-family-base;
  line-height: $line-height-base;
  color: $foreground-color;
  background-color: $background-color;
}

// Lists
ul,
ol {
  margin-bottom: $spacing-unit * 2;
  padding-left: $spacing-unit * 3;
}

// Images
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}