@use "./variables";

// ==========================================================================
// Position UTILITIES
// ==========================================================================

$positions: static, relative, absolute, fixed, sticky;

// Generate non-responsive position classes
@each $position in $positions {
  .position-#{$position} {
    position: #{$position};
  }
}

// Generate responsive position classes
@each $breakpoint, $bp-value in variables.$breakpoints {
  @media (min-width: $bp-value) {
    @each $key, $value in $positions {
      .#{$breakpoint}-#{$key} {
        flex-direction: $value;
      }
    }
  }
}