@use "./variables";

// ==========================================================================
// Position UTILITIES
// ==========================================================================

$positions: static, relative, absolute, fixed, sticky;

// Generate non-responsive position classes
@each $position in $positions {
  .position-#{$position} {
    position: #{$position} !important;
  }
}

// Generate responsive position classes
// sm: 0 - 576px
@media (max-width: #{variables.$breakpoint-sm - 1px}) {
  @each $position in $positions {
    .sm-position-#{$position} {
      position: #{$position} !important;
    }
  }
}

// md: 577px - 768px
@media (min-width: #{variables.$breakpoint-sm}) and (max-width: #{variables.$breakpoint-md - 1px}) {
  @each $position in $positions {
    .md-position-#{$position} {
      position: #{$position} !important;
    }
  }
}

// lg: 769px - 992px
@media (min-width: #{variables.$breakpoint-md}) {
  @each $position in $positions {
    .lg-position-#{$position} {
      position: #{$position} !important;
    }
  }
}
