@mixin margin-top-mixin($value) {
  margin-top: $value;
}

@mixin margin-bottom-mixin($value) {
  margin-bottom: $value;
}

@mixin margin-left-mixin($value) {
  margin-left: $value;
}

@mixin margin-right-mixin($value) {
  margin-right: $value;
}

@function rem($value) {
  @return #{$value}rem;
}

@for $i from 1 through 100 {
  .mt-#{$i} {
    @include margin-top-mixin(rem($i));
  }

  .mb-#{$i} {
    @include margin-bottom-mixin(rem($i));
  }

  .ml-#{$i} {
    @include margin-left-mixin(rem($i));
  }

  .mr-#{$i} {
    @include margin-right-mixin(rem($i));
  }
}
