@use './general.scss' as *;

body {
  &.is-transitioning {
    transform: translateX(100px);
  }
}

#content {
  border-right: 3px solid #444444;

  @media screen and (max-width: 576px) {
    border-right: none;
  }
}
